.jumbotron{
  background-color: #2AB7CA;
  font-weight: bold;
  font-style: oblique;
}
body{
  background-color: #F9F9F9;
  font-family: "Helvetica";
}
.title {
  text-align: center;
  background-color:#F7F052;
}
.texts{
  background-color: #FE4A49;
}
.text-center{
  background-color: #2AB7CA;
}
h3{
  font-weight: bold;
}
