<h2 class ="title">Frank Ocean</h2>
<div class="col-md-2"></div>
<div class="texts col-md-3">
  <h3>Self Control</h3>
  <p>August 20, 2016</p>
  <p>
  <em>
    I'll be the boyfriend in your wet dreams tonight
    Noses on a rail, little virgin wears the white
    You cut your hair but you used to live a blinded life
    Wish I was there, wish we'd grown up on the same advice
    And our time was right. Now and then you miss it, sounds make you cry
    Some nights you dance with tears in your eyes
    I came to visit cause you see me like a UFO
    That's like never, <strong>cause I made you use your self control
    And you made me lose my self control</strong>, my self control
  </em>
</p>
</div>
<iframe width="560" height="315" src="https://www.youtube.com/embed/rVHN5sos7HQ" frameborder="0" allowfullscreen></iframe>
