<h2 class ="title">J.Cole</h2>
<div class="col-md-2"></div>
<div class="texts col-md-3">
  <h3>Power Trip Ft. Miguel</h3>
  <p>October 16th, 2007</p>
  <p>
  <em>
    Got me up all night, all I'm singing is love songs
    She got me up all night, constant drinking and love songs
    She got me up all night, down and out with these love songs
    She got me up all night, <strong>drowning out with these love songs</strong>
    She got me up all night, all I'm singing is love songs
    She got me up all night, constant drinking and love songs
    She got me up all night, down and out with these love songs
    She got me open all night, got me open all night
  </em>
</p>
</div>
<iframe width="560" height="315" src="https://www.youtube.com/embed/VMeirNg87AY" frameborder="0" allowfullscreen></iframe>
