<h2 class ="title">Jimmy Eat World</h2>
<div class="col-md-2"></div>
<div class="texts col-md-3">
  <h3>Chase This Light</h3>
  <p>October 16th, 2007</p>
  <p>
  <em>
Because tonight, the world turned in me,
Because right now, I don't dare to breathe.
Oh, babe, I know, it's <strong>alive</strong> and somewhere for us to find,
Tonight, oh chase this light with me.
Because tonight, the world turned in me.
Because right now, I don't dare to breathe.
Oh, babe, I know, it's alive and somewhere for us to find,
Tonight, chase this light with me.
  </em>
</p>
</div>
<iframe width="560" height="315" src="https://www.youtube.com/embed/PvrO_MjTMPc" frameborder="0" allowfullscreen></iframe>
