<h2 class ="title">Odeza</h2>
<div class="col-md-2"></div>
<div class="texts col-md-3">
  <h3>It's Only (feat. Zyra)</h3>
  <p>January 18, 2016</p>
  <p>
  <em>
    I heard the news today,
  That you weren’t mine to save
  I hope that you’re comfortable
  In the quiet lasting grave
  What is lust if it’s not being by yourself?
  I won’t be gentle to the body on the shelf.
  It’s only water
  It’s only fire
  It’s only love
  </em>
</p>
</div>
<iframe width="560" height="315" src="https://www.youtube.com/embed/UW0vOum0mBM" frameborder="0" allowfullscreen></iframe>
