<h2 class ="title">TLC</h2>
<div class="col-md-2"></div>
<div class="texts col-md-3">
  <h3>Baby Baby Baby</h3>
  <p>April 29, 1992</p>
  <p>
  <em>
    Oh baby, baby, baby
  <strong>I got so much love in me</strong>
  Ooh (baby, baby,) baby, baby, baby
  Cause if your're gonna get me off
  You got to love me deep

  Well you want my heart (uh)
  And all my time
  Well it won't be there if you can't deal with my mind
  Cause a girl like me (uh)
  Won't stand for less
  I require plenty conversation with my sex

  Long as you know that I could have any man I want to
  Baby that's actual and factual
  But still I choose you to be with me
  And work on me so you better not flake it up
  </em>
</p>
</div>
<iframe width="420" height="315" src="https://www.youtube.com/embed/Q2H6pTtEVlo" frameborder="0" allowfullscreen></iframe>
